*{
    font-family: Arial, Helvetica, sans-serif;
}

html {
    background-color: #AAAAB0;
}

#main_div {
    position: absolute;
    margin-top: calc(-1vh + 2px);
    margin-left: calc(50% - 384px);
    margin-right: calc(50% - 384px);

    width: 768px;
    height: 100vh;
    outline: 2px solid black;

    background-color: #DDDDE0;
}
#title_div {
    align-content: center;
    text-align: center;
    font-size: 200%;
    width: 100%;
    height: 10%;
    outline: 2px solid black;
}